{{extend 'layout1.html'}}


<br/><br/><br/>
<div  style="text-align:center; background-color: 	#98FB98;" class="czr">
	<h3>
	<form action = "{{=URL('found')}}" method = "get">
		 <font color="#228B22">Search</font> 
		<select class="form-control" placeholder="city" id="firstmenu">
          <option value=""></option>
		<option value=""></option>

        </select>
        <select class="form-control" id="secondmenu">
          <option value="">Lajpat Nagar</option>
          <option value="">Rajendra Nagar</option>
		          <option value="">Gachibowli</option>
		          <option value="">South extension</option>
        </select>        
		 <input type="text" id='text' name='text' placeholder="search..." onkeyup ="loadXMLDoc()"></input>
    	<input type="submit" />
	</form>
	</h3>
</div>
<br/><br/><br/>
	
	<h4>
	<table style="width:20%">
	<tr>
	<td><a id = '1' href = "{{=URL('home_user')}}">login</a></td>
	<td><a id = '2' href = "{{=URL('login', args='register')}}">register</a><td>
	</tr></table>

	<h4>


